.php-search-container {
  display: none;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.php-search-container:not(.show) {
  opacity: 0;
}

.php-search-modal,
.php-search-modal * {
  box-sizing: border-box;
}

.php-search-modal {
  background-color: var(--dark-grey-color);
  width: 100%;
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.php-search-header {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.php-search-form {
  background-color: rgba(255, 255, 255, 0.1);
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding-left: 12px;
  min-width: 0;
}

.php-search-input-icon {
  display: block;
  width: 24px;
  flex-shrink: 0;
}

.php-search-input-icon svg {
  display: block;
}

.php-search-input {
  padding-left: 12px;
  flex-grow: 1;
  border: none;
  font-size: 18px;
  background-color: transparent;
  height: 48px;
  min-width: 0;
  color: white;
}

.php-search-input:focus {
  border-width: 1px;
  outline: none;
}

.php-search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* TODO: The icon button styles were copied from the navbar. */
/* We should refactor this into a shared component when possible. */
.php-search-close-btn {
  cursor: pointer;
  padding: 8px;
  border: 0;
  outline: 0;
  margin-left: 8px;
  /* margin-right: -12px; 8px padding + 5px svg blank area */

  color: #e8e8e8;
  background-color: transparent;
  opacity: 0.65;

  transition: opacity 0.25s ease-out;
}

.php-search-close-btn svg {
  width: 24px;
  display: block;
  fill: currentColor;
}

.php-search-close-btn:hover,
.php-search-close-btn:focus-visible {
  color: white;
  opacity: 1;
}

.php-search-results {
  padding: 0 16px;
  overflow-y: scroll;
  height: 100%;
}

.php-search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 14px;
  border: none;
  border-radius: 0.5rem;
  line-height: 1.2;
}

.php-search-result:hover {
  background-color: var(--dark-blue-color);
}

.php-search-result[aria-selected="true"] {
  background-color: var(--dark-magenta-color);
}

.php-search-result-main {
  flex-grow: 1;
  min-width: 0; /* Allow text truncation */
}

.php-search-result-name {
  color: #e6e6e6;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.php-search-result:hover .php-search-result-name {
  color: white;
}

.php-search-result-desc {
  font-size: 14px;
  color: var(--background-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.php-search-result:hover .php-search-result-desc {
  color: white;
  opacity: 0.6;
}

.php-search-result-type {
  margin-right: 12px;
}

.php-search-result-type svg {
  display: block;
  width: 24px;
  fill: hsla(0, 0%, 100%, 0.3);
}

.php-search-helper-text {
  padding: 10px 16px;
  font-size: 14px;
}

@media (min-width: 992px) {
  .php-search-modal {
    max-width: 40rem;
    height: calc(100% - 1rem * 2); /* Convert marign to var */
    margin: 1rem auto; /* Convert marign to var */
    border-radius: 16px;
  }

  .php-search-header {
    padding: 18px 20px;
  }

  .php-search-results {
    padding: 0 20px;
  }

  .php-search-helper-text {
    padding: 18px 20px;
  }
}
