.php-search-container {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
  display: none;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  transition: opacity 0.2s ease-out;
}

.php-search-container:not(.show) {
  opacity: 0;
}

.php-search-dialog,
.php-search-dialog * {
  box-sizing: border-box;
}

.php-search-dialog {
  display: flex;
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: var(--dark-grey-color);
  flex-direction: column;
}

.php-search-dialog *:focus-visible {
  outline: 2px solid var(--light-magenta-color);
  outline-offset: 2px;
}

.php-search-header {
  display: flex;
  padding: 10px 16px;
  align-items: center;
}

.php-search-form {
  display: flex;
  min-width: 0;
  padding-left: 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  flex-grow: 1;
}

.php-search-input-icon {
  display: block;
  width: 24px;
  flex-shrink: 0;
}

.php-search-input-icon svg {
  display: block;
}

.php-search-input {
  height: 44px;
  min-width: 0;
  padding-left: 12px;
  border: none;
  background-color: transparent;
  color: white;
  flex-grow: 1;
}

.php-search-input:focus {
  border-width: 1px;
  outline: none;
}

.php-search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* TODO: The icon button styles were copied from the navbar. */
/* We should refactor this into a shared component when possible. */
.php-search-close-btn {
  opacity: 0.65;
  margin-left: 8px;
  margin-right: -8px; /* Compensate for button padding */
  padding: 8px;
  border: 0;
  background-color: transparent;
  color: #e8e8e8;
  transition: opacity 0.25s ease-out;
  cursor: pointer;
  outline: 0;
}

.php-search-close-btn svg {
  display: block;
  width: 24px;
  fill: currentColor;
}

.php-search-close-btn:hover,
.php-search-close-btn:focus {
  opacity: 1;
  color: white;
}

.php-search-results {
  overflow-y: scroll;
  height: 100%;
  padding: 0 16px;
}

.php-search-result {
  display: flex;
  padding: 10px;
  padding-left: 14px;
  border: none;
  border-radius: 0.5rem;
  line-height: 1.2;
  align-items: center;
}

.php-search-result:hover {
  background-color: var(--dark-blue-color);
}

.php-search-result[aria-selected="true"] {
  background-color: var(--dark-magenta-color);
}

.php-search-result-main {
  min-width: 0; /* Allow text truncation */
  flex-grow: 1;
}

.php-search-result-name {
  overflow: hidden;
  margin-bottom: 6px;
  color: #e6e6e6;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.php-search-result:hover .php-search-result-name {
  color: white;
}

.php-search-result-desc {
  overflow: hidden;
  color: var(--background-text-color);
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.php-search-result:hover .php-search-result-desc {
  opacity: 0.6;
  color: white;
}

.php-search-result-icon {
  margin-right: 12px;
}

.php-search-result-icon svg {
  display: block;
  width: 24px;
  fill: hsla(0, 0%, 100%, 0.3);
}

.php-search-helper-text {
  display: none;
  padding: 10px 16px;
  font-size: 14px;
}

@media (min-width: 992px) {
  .php-search-dialog {
    max-width: 560px;
    height: calc(100% - 1rem * 2);
    margin: 1rem auto;
    border-radius: 16px;
  }

  .php-search-header {
    padding: 18px 20px;
  }

  .php-search-input {
    height: 52px;
    font-size: 18px;
  }

  .php-search-close-btn {
    margin-right: -10px; /* Compensate for button padding */
  }

  .php-search-results {
    padding: 0 20px;
  }

  .php-search-helper-text {
    display: block;
    padding: 18px 20px;
  }

  .php-search-helper-key {
    display: inline-block;
    padding: 0px 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1)
  }
}
